<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7274d2">  <td>21/03/23 16:57:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestparameterTest2.testaddition(int, int)[pri:0, instance:ExecutionOrder.TestparameterTest2@13c10b87]">testaddition</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>21/03/23 16:57:35</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestparameterTest2.testaddition(int, int)[pri:0, instance:ExecutionOrder.TestparameterTest2@13c10b87]">testaddition</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>21/03/23 16:57:35</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestparameterTest2.testaddition(int, int)[pri:0, instance:ExecutionOrder.TestparameterTest2@13c10b87]">testaddition</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>21/03/23 16:57:35</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestparameterTest2.testaddition(int, int)[pri:0, instance:ExecutionOrder.TestparameterTest2@13c10b87]">testaddition</td> 
  <td>main@200224114</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>21/03/23 16:57:35</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestparameterTest2.testaddition(int, int)[pri:0, instance:ExecutionOrder.TestparameterTest2@13c10b87]">testaddition</td> 
  <td>main@200224114</td>   <td></td> </tr>
</table>
