<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test NG Sanple order</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgexeorderTwo.AfterClass()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:42</td>   <td>97</td> <td title="&lt;&lt;TestNgexeorderTwo.AfterSuite()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;TestNgexeorderTwo.AfterTest()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgexeorderTwo.Aftermethod()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&lt;&lt;Aftermethod</td> 
<td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgexeorderTwo.BeforeClass()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgexeorderTwo.BeforeMethod()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>21/03/23 19:35:41</td>   <td>-60</td> <td title="&gt;&gt;TestNgexeorderOne1.BeforeSuitee()[pri:0, instance:ExecutionOrder.TestNgexeorderOne1@75f32542]">&gt;&gt;BeforeSuitee</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>21/03/23 19:35:41</td>   <td>-49</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgexeorderOne1.Beforetestt()[pri:0, instance:ExecutionOrder.TestNgexeorderOne1@75f32542]">&gt;&gt;Beforetestt</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@910091170</td>   <td></td> </tr>
<tr bgcolor="bba67a">  <td>21/03/23 19:35:41</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgexeorderTwo.Firsttest()[pri:0, instance:ExecutionOrder.TestNgexeorderTwo@7f1302d6]">Firsttest</td> 
  <td>main@910091170</td>   <td></td> </tr>
</table>
