<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FacebookLogin</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="777aab">  <td>21/03/22 21:31:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGmail.GmailloginValidCredentials()[pri:0, instance:TestPackageTwoo.TestGmail@2ddc8ecb]">GmailloginValidCredentials</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="78a09f">  <td>21/03/22 21:31:54</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGmailTwo.GmailloginValidCredentialsT()[pri:0, instance:TestPackageTwoo.TestGmailTwo@229d10bd]">GmailloginValidCredentialsT</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="777aab">  <td>21/03/22 21:31:54</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGmail.Gmaillogininvalidcredential()[pri:0, instance:TestPackageTwoo.TestGmail@2ddc8ecb]">Gmaillogininvalidcredential</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="78a09f">  <td>21/03/22 21:31:54</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGmailTwo.GmaillogininvalidcredentialT()[pri:0, instance:TestPackageTwoo.TestGmailTwo@229d10bd]">GmaillogininvalidcredentialT</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="727db3">  <td>21/03/22 21:31:54</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTwitter.TwitterloginValidCredentials()[pri:0, instance:TestTwitter@3901d134]">TwitterloginValidCredentials</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="727db3">  <td>21/03/22 21:31:54</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTwitter.Twitterlogininvalidcredential()[pri:0, instance:TestTwitter@3901d134]">Twitterlogininvalidcredential</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="9ba3fb">  <td>21/03/22 21:31:54</td>   <td>-132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.loginValidCredentials()[pri:0, instance:FacebookLogin@290d210d]">loginValidCredentials</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="9ba3fb">  <td>21/03/22 21:31:54</td>   <td>-110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.logininvalidcredential()[pri:0, instance:FacebookLogin@290d210d]">logininvalidcredential</td> 
  <td>main@1099855928</td>   <td></td> </tr>
<tr bgcolor="9ba3fb">  <td>21/03/22 21:31:54</td>   <td>-105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.logininvalidcredentialtwo()[pri:0, instance:FacebookLogin@290d210d]">logininvalidcredentialtwo</td> 
  <td>main@1099855928</td>   <td></td> </tr>
</table>
